[MASTER]
ignore = CVS
ignore-patterns = test_.*?py
load-plugins = pylint.extensions.docparams

[FORMAT]
max-line-length = 120
indent-string = '    '
indent-after-paren = 4

[MESSAGES CONTROL]
disable =
    W0212,
    C0103,
    R0913,
    R0914,
    C0111,
    R0801,

[VARIABLES]
good-names = i,j,k,ex,Run,_,id,x,y,f,df,ax,v,e

[DESIGN]
max-args = 5
max-attributes = 7
max-locals = 15
max-branches = 12
max-statements = 50

[SIMILARITIES]
min-similarity-lines = 4
ignore-comments = yes
ignore-docstrings = yes
ignore-imports = yes

[LOGGING]
logging-format-style = new

[BASIC]
argument-naming-style = snake_case
variable-naming-style = snake_case
function-naming-style = snake_case
class-naming-style = PascalCase
module-naming-style = snake_case
const-naming-style = UPPER_CASE

[ERRORS]
bad-indentation = C0111
